.header-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

h1.city-heading, .back-arrow {
    color: #999;
    text-transform: capitalize;
    cursor: pointer;
}

.back-arrow {
    line-height: 40px;
    margin-right: 15px;
}

h1.selected {
    color: #333;
}