html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #FFFFFF;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}